
.navbar {
    background-color: rgba(47, 39, 119, 0.826);
    padding: 2px;
    
}
.navbar li{
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}
.navbar .active{
    color: rgb(213, 201, 201);
    font-weight: bolder;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.nav-link:hover{
    background-color: rgb(235, 232, 232);
    padding: 18px;
    color: rgb(92, 92, 231);
    
    
}